.nxtlvl{
    padding-top: 25px;
    padding-bottom: 50px;
    background-color: #1d1d1d;
    color: #38b6ff;
    
}

.title-nxtlvl h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.text-nxtlvl{
    color: white;
    display: flex;
    margin: 0 auto;
    width: 35%;
    font-size: 20px;
    text-align: center;
}

.vid-nxtlvl video{
    display: flex;
    margin: auto;
    padding-top: 40px;
}

.why{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
}


.tile{
    padding: 10px;
    width: 15%;
    color: white;
    font-size: 20px;
}

mark{
    color:#38b6ff;
    background: none;
}

@media only screen and (max-width: 767px)
{
    .vid-nxtlvl video{
        display: flex;
        margin: auto;
        padding-top: 40px;
        max-width: 375px;
    }
    .nextlvl{
        display: block;
        
    }
    .why{
        display: block;
    }
    .tile{
        min-width: 300px;
        max-width: 400px;
        margin: 0 auto;
    }
    .title-nxtlvl{
       text-align: center;
    }

    .text-nxtlvl {
        margin: 0 auto;
        width: 400px;
    }
}