.about{
    display: flex;
    padding: 50px 50px;
    align-items: center;
    justify-content: center;
}
.text{
    text-align: center;
    font-size: 22px;
}

.text img{
    margin-bottom: -20px;
}

.text h1{
    color: #38b6ff;
    font-size: 60px;
    margin-bottom: 10px;
}

.photo img{
    width: 400px;
    border-radius: 15px;
}

.contactme{
    background-color: #00c9ff;
    padding: 15px 32px;
    color: black;
    font-size: 16px;
    font-weight: bold;
    margin-top: 50px;
    border: none;

}