.contact{
    padding: 50px 50px;
}

.title-contact h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.text-contact{
    display: flex;
    align-items: left;
    justify-content: center;
}

hr{
    position: relative;
    width: 10%;
    margin-bottom: 50px;
    border: none;
    height: 2px;
    margin: auto;
    background: -webkit-linear-gradient(to right, #00c9ff, #92fe9d); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00c9ff, #92fe9d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}